@import 'components/_base.css';
@import 'components/_utilities.css';
@import 'components/_variables.css';
@import 'components/_card.css';
@import 'components/_main-header.css';
@import 'components/_main-nav.css';
@import 'components/_profile-pic.css';

.container-element {
  background-color: var(--color-lightaccent);
  padding: 5px 15px;
  margin: 3px 0;
}

.contact {
  margin: 1px 8px;
}

.contact-icons {
  height: 2.5em;
  filter: invert(1%) sepia(8%) saturate(7049%) hue-rotate(166deg)
    brightness(101%) contrast(99%);
}

.main-footer {
  padding: 30px;
  grid-area: footer;
  text-align: center;
  border-top: dotted 0.3em;
}

@media (min-width: 800px) {
  .col-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 33%;
    margin: 20px 10px;
  }

  .col-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 50%;
    margin: 20px 10px;
  }
}
