@import 'components/_base.css';
@import 'components/_variables.css';
@import 'components/_card.css';
@import 'components/_main-header.css';
@import 'components/_main-nav.css';

.small-card {
  max-width: 500px;
}

.big-card {
  max-width: 900px;
}

.profile-pic {
  flex: 1;
  width: 50%;
  border-radius: 50%;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  align-self: center;
}

.skill-container,
.contact-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-left: 0;
  gap: 1px 4px;
}

.skill,
.employer,
.dates,
.lang {
  background-color: var(--color-lightaccent);
  padding: 5px 15px;
  margin: 3px 0;
}

.contact {
  margin: 1px 8px;
}

.contact-icons {
  height: 2.5em;
  filter: invert(1%) sepia(8%) saturate(7049%) hue-rotate(166deg)
    brightness(101%) contrast(99%);
}

.lang-container {
  justify-content: space-evenly;
}

.main-footer {
  padding: 30px;
  grid-area: footer;
  text-align: center;
  border-top: dotted 0.3em;
}

@media (min-width: 800px) {
  .col-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 33%;
    margin: 20px 10px;
  }

  .col-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 50%;
    margin: 20px 10px;
  }

  .small-card {
    max-width: 500px;
  }

  .big-card {
    max-width: 900px;
  }

  #about-me {
    order: 1;
  }

  #contact {
    order: 2;
  }

  #cv {
    order: 3;
  }
}
